.container{
    background: #868991;
    color: #090909;
}
.nav-scroller{
    background-color: black;
}
.blog-header{
    background-color: black;
}
.position-sticky{
    background-color: black;
}